.asteriskField {
  display: none;
}
.errorlist{
  display: none;
}
/* #frm_data th,tr,td {
  background:skyblue;
  color:darkblue;
  text-align:center;
  background-color:skyblue;
  border-radius:3px;
  padding:0px;
}
#frm_data th{
  padding:5px;
}
input{
  padding:5px;
} */
/* #sub_button{
  background-color:skyblue;
  border-radius:5px;
} */
