{% extends 'data_enrichment/base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <br />
    <br />
    <h4 style="float:left">Upload data for enrichment </h4>
    <a style="float:right;margin-block: -10px;" class="btn btn-primary" href="{% url 'upload' %}">Add Data</a>
    <p style="float:right"><a href="{% url 'template' %}"><i>Download the import template</i></a>&nbsp;&nbsp;</p>
    <br />
    <br />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">File name</th>
          <th scope="col">Upload date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for file in uploaded_files %}
          <tr>
            <form action="{% url 'delete' file.id %}" method="post" class="site-form">
                {% csrf_token %}
                <td>{{ file.file_name }}</td>
                <td>{{ file.uploaded_at }}</td>
                <td>
                  <button type="submit" class="btn btn-link">
                    <i class="fa fa-trash" id="delete_icon"></i>
                  </button>
                </td>
            </form>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
