{% extends 'data_enrichment/base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <br />
    <br />
    <h5 style="text-align: left;">Create Rules </h5>
    <a style="float:right;margin-block: -10px;" class="btn btn-primary" href="{% url 'rule_create' %}">Add Rules</a>
    <br />
    <br />
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Rule name</th>
          <th scope="col">Rule creation date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for rule in rules %}
        <tr>
          <td>{{ rule.rule_name }}</td>
          <td>{{ rule.created_at|date:'d S M Y' }}</td>
          <td>
            <button type="submit" class="btn">
              <a href="{% url 'rule_edit' rule.id %}"><i style="color:gray;" class="fa fa-pencil"></i></a>
            </button>
            <button" type="submit" class="btn">
              <a href="{% url 'rule_run' rule.id %}"><i style="color:black;" class="fa fa-play"></i></a>
            </button>
            <button type="submit" class="btn">
              <a href="{% url 'rule_delete' rule.id %}"><i style="color:red;" class="fa fa-trash"></i></a>
            </button>
          </td>
          </form>
        </tr>
        {% endfor %}
      </tbody>
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
